
@{
    Style.Require("TwolevelTitle").AtHead();
}
<div style="background: white; padding: 5px;">
    <pre class="two-title"><code class="TwolevelTitle"><strong>@(Model.viewMode.MemberExpression)</strong></code></pre>
</div>