@{
    Style.Require("TwolevelTitle").AtHead();
}
<div style="/*background: white;*/ padding: 5px;">
    <div class="two-title"><div class="TwolevelTitle"><strong>@(Model.viewMode.MemberExpression)</strong></div></div>
</div>