@using Orchard
@using Orchard.Data
@using Orchard.ContentManagement
@using MnLab.Enterprise
@using MnLab.Enterprise.Approval
@using MnLab.Enterprise.Approval.Drivers
@using MnLab.Enterprise.Approval.Models
@model ApprovalSupportPart
@{
    /**/

    var approvalSupport = Model;
    if (approvalSupport.Record == null)
    {
        var contentManager = WorkContext.Resolve<IContentManager>();
        var repos = WorkContext.Resolve<IRepository<ApprovalSupportPartRecord>>();
        approvalSupport.Record = repos.Get(x => x.ContentItemRecord.Id == approvalSupport.ContentItem.Id);
    }
    var status = approvalSupport.Status;
}

@*Parts.ApprovalSupport.Head*@

@using (Script.Head())
{
    <style>
        fieldset.approval-button {
            margin: 0 12px 0 0;
            padding: 0 12px;
            border-right: 1px solid #ccc;
            clear: none;
            float: left;
        }
    </style>
}
@if (base.WorkContext.GetState<int>("IsCurrentInApproval") == 0)
{
    //ApprovalPartDriver.IsCurrentInApproval.Value = false;
    if (status == ApprovalStatus.WaitingApproval)
    {
        <div class="approval-notify-box">
            <b class="approval-notify-msg">当前内容正在等待审批，您不能编辑</b>
        </div>
    }
    else if (status == ApprovalStatus.Rejected)
    {
        <div class="approval-notify-box">
            <b class="approval-notify-msg">当前内容审批被驳回，原因：@(approvalSupport.AuditOpinion)</b>
        </div>
    }
    using (Script.Foot())
    {
        <script>
            $(function () {
                $("fieldset.publish-button").remove();
            });
        </script>
        if (status == ApprovalStatus.WaitingApproval)
        {
            <script>
                $(function () {
                    $("fieldset.save-button").remove();
                });
            </script>
        }
        else
        {

        }
    }
}