@using System.Globalization
@using Rijkshuisstijl.PerformanceMonitor.Models
@using Rijkshuisstijl.PerformanceMonitor.ViewModels.PerformanceMonitor

@model Rijkshuisstijl.PerformanceMonitor.ViewModels.PerformanceMonitor.CategoryViewModel

@{
    Script.Require("jQuery");
    Layout.Title = T("New performance counter");
    Style.Include("performancemonitor.css");
}

<div id="performancecounter">

    <div class="errormessages">
        @Html.ValidationSummary()
    </div>

    @using (Html.BeginFormAntiForgeryPost("Category"))
    {
        //dropdownlist binding to categorylist
        SelectList selectListOfPerformanceObjects = Model.CategoryList;

        var categoryName = Model.CategoryName;

        <fieldset>
            <legend>Select a performance counters category and click "Next"</legend><br/>
        
            @Html.Label(T("Category").Text, new {@class = "editor-label"}) 

            @Html.DropDownListFor(m => m.CategoryName, selectListOfPerformanceObjects, "--Choose a category--", null)
            <br/><br/>  

            <input class="button primaryAction"  type="submit" value="@T("Next")"></input>
        </fieldset>
    }
</div>

<br /><br />      



