@using MnLab.PdfVisualDesign.ViewModels
@using MnLab.PdfVisualDesign.Binding
@using MnLab.PdfVisualDesign.Binding.Drivers
@*@model ContentDataMemberHelper*@

@{
    ContentDataMemberHelper member = Model.Member;

    var value = member?.GetAccessor().GetValue();
}
@if (value == null || (value is string s && string.IsNullOrEmpty(s)))
{
    @(member?.Expression)
}
else
{
    <span title="Expression: @(member?.Expression)">@(value)</span>
}