@using MnLab.PdfVisualDesign.ViewModels
@using MnLab.PdfVisualDesign.Binding
@using MnLab.PdfVisualDesign.Binding.Drivers
@*@model ContentDataMemberHelper*@

@{
    ContentDataMemberHelper member = Model.Member;
}
@*<span title="Expression: @(member.Expression)">@(member.GetAccessor().GetValue())</span>*@

@Model.HTML