@using MnLab.PdfVisualDesign
@using MnLab.PdfVisualDesign.ViewModels
@using MnLab.PdfVisualDesign.Binding
@using MnLab.PdfVisualDesign.Binding.Elements
@{

    // 这个页面因为是js异步的，所以导致 design 页面无法正确计算高度，可以考虑用 chrome headless 执行后获取得到的 html 然后进行输出显示，或者找找 cms 有没有现成的 API

    // return;

    Script.Require("handsontable").AtHead();
    Style.Require("handsontable").AtHead();

    ValueBindGridViewModel ViewModel = Model?.ViewModel;
    ValueBindGridData design = ViewModel?.DesignData;
    var ValueMaps = ViewModel?.ValueMaps;
    var DesignCellValues = design?.AllCellValues;
    var mergedCells = design?.MergedCells;
    var uniqueId = Guid.NewGuid().ToString("N");

}

<div id="handsontable-@(uniqueId)" class="hot handsontable htRowHeaders htColumnHeaders"></div>
@{ 
//@using (Script.Foot()){
    <script>

        function isNullOrUndefined(x){
      if (x === undefined) {
            return true;
        }
        if (x === null) {
            return true;
        }
        return false;
}


    (function () {

        // the design page first load data is correct ,but after the element edit form save, the element view design refresh (the data re retrive then get null data of each valueMaps item)
    var ValueMaps = [@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ValueMaps, Newtonsoft.Json.Formatting.Indented)))][0];
    var DesignCellValues = [@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(DesignCellValues, Newtonsoft.Json.Formatting.Indented)))][0];
    var mergedCells = [@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(mergedCells, Newtonsoft.Json.Formatting.Indented)))][0];
    var uniqueId = ['@(uniqueId)'][0];

    var gridType = ['@(design?.GridType)'][0];
    var DisplayType = ['@(design?.DisplayType)'][0];

    if(gridType=='table'){
    }

        var createRender = function(type){
        return  function (instance, td, row, col, prop, value, cellProperties) {
        if   (!isNullOrUndefined(value) && ValueMaps){
        var val = ValueMaps[value.Key];
        arguments[5] = type+':'+val;
         Handsontable.renderers.AutocompleteRenderer.apply(instance, arguments);
      //  debugger
   // $(td).html(val);
       //return $("<th>"+value.Key+"</th>");
        }
    //return td;
    return td;
};
        }

    var columnNameDef={renderer:createRender('Name'),};
    var columnValueDef={renderer:createRender('Value'),};

    /*
    hot.updateSettings({
  colHeaders: ['A','B','C']
});
    */

        var tableCfg = {
        licenseKey: 'non-commercial-and-evaluation',
            data: DesignCellValues,
            mergeCells: mergedCells || [],
            //  colWidths: [47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47],
            rowHeaders: true,
            colHeaders: true,
            contextMenu: false,
    // header 分为：属性名字列 和 属性值列，列头在设计页面要可以自定义
            //colHeaders: ['Data Member (First Column)', 'Data Member (Second Column)'],
            colHeaders: ['Data Member (Name)','', 'Data Member (Second Column)',''],
            columns: [columnNameDef,columnValueDef,columnNameDef,columnValueDef]
        };

    $(function(){
       var interval =  setInterval(function(){
            var container = document.getElementById('handsontable-@(uniqueId)');
        if(container){
   // debugger
        clearInterval(interval);
        girdTable = new Handsontable(container, tableCfg);
        girdTable.hot = girdTable;
        }

        },500);

        });
})();

    </script>
}

@*dwdwd

dw
d
wd

dww
    <p></p>    <p></p>    <p></p>    <p></p><p></p>*@
    <p></p>    <p></p><p></p>