@using Orchard.ContentManagement;
@{
    var content = Model.Items;
}
@if (content.Count > 0)
{
    for (int i = 0; i < content.Count; i++)
    {
        if (content[i].ContentItem.ContentType == "NHProductManualTemplate")
        {
            if (content[i].Metadata.Type == "Fields_MediaLibraryPicker_SummaryAdmin")
            {
                <div style="display:inline">模板预览</div>
                <div style="display:inline"><img src=" @(content[i].ContentField.FirstMediaUrl)" /></div>
                @*<div class="primary">@Display(content[i])</div>*@
            }
        }
    }
}
@*<div class="primary">@Display(Model.Content)</div>*@