@using Orchard
@using Orchard.Data
@using Orchard.ContentManagement
@using Drahcro
@using Drahcro.Web
@using Drahcro.Web.Drivers
@*@model WebCoreSupportPart*@

Parts.WebCoreSupport

@using (Script.Foot())
{
    <script src="~/Modules/Drahcro/Scripts/fill/common.js"></script>
    <script src="~/Modules/Drahcro/Scripts/base/index.js"></script>

    <script src="~/Modules/Drahcro/Scripts/classie/index.js"></script>

    <link href="~/Modules/Drahcro/Scripts/ModalWindowEffects/index.css" rel="stylesheet" />
    <script src="~/Modules/Drahcro/Scripts/ModalWindowEffects/index.js"></script>

    <script src="~/Modules/Drahcro/Scripts/jquery.livequery/index.js"></script>
    <script src="~/Modules/Drahcro/Scripts/jquery.rhythm-ajax-form/index.js"></script>
    <link href="~/Modules/Drahcro/Scripts/jquery.rhythm-ajax-form/index.css" rel="stylesheet" />
    <link href="~/Modules/Drahcro/Scripts/jquery.rhythm-ajax-form/debug.css" rel="stylesheet" />
    <script src="~/Modules/Drahcro/Scripts/jquery.rhythm-ajax-form.config/index.js"></script>

    <script id="tpl-ModalWindowEffects" type="text/template">
        <div class="md-overlay" id="md-overlay"></div>@*<!-- the overlay element -->*@
        <div class="md-modal md-effect-7" id="modal-stickyup">
            <div class="md-content">
                <span class="md-content-title"></span>
                <div class="md-content-text"><button class="md-close">关闭</button></div>
            </div>
        </div>
    </script>

    <script>
        $("body").prepend($("#tpl-ModalWindowEffects").html());
        // alert('WebCoreSupport');
        $("button[fn-form-action]").on("click", function () {
            var form = this.form || $('form')[0];
            // debugger
            if (form) {
                var btnAction = $(this).attr("fn-form-action");
                var rawAction = $(form).attr("action");
                $(form).attr("action", btnAction);
                setTimeout(function () {
                    $(form).attr("action", rawAction);
                }, 10);
            }
        });
    </script>
}