@using Orchard.ContentManagement;
@using Orchard.Core.Contents;
@using Orchard.Utility.Extensions;

@{
    var contentItem = (IContent)Model.ContentItem;
    //var basePath = WorkContext.CurrentSite.BaseUrl;
}
@*commit*@
@if (Authorizer.Authorize(Permissions.CreateContent, contentItem))
{
    @*<input /?*@
<fieldset class="publish-button">
    <button fn-form-action="~/Admin/MnLab.Enterprise/@(contentItem.Id==0?$"Create":$"Edit")/@(contentItem.Id)" type="submit" name="submit.Commit" value="submit.Commit">@T("Commit Approval")</button>
    @*<button fn-form-action="~/Admin/MnLab.Enterprise/Approval/@(contentItem.Id==0?$"Create":$"Edit")" type="submit" name="submit.Commit" value="submit.Commit">@T("Commit Approval")</button>*@
</fieldset>
}