@using Orchard.ContentManagement;
@using Orchard.Core.Contents;
@using Orchard.Utility.Extensions;

@if (Authorizer.Authorize(Permissions.PublishContent, (IContent)Model.ContentItem)) {
<fieldset class="publish-button">
    <button type="submit" name="commit.Save" value="commit.Save">@T("Commit Approval")</button>
</fieldset>
}