@using MnLab.PdfVisualDesign
@using MnLab.PdfVisualDesign.ViewModels
@using MnLab.PdfVisualDesign.Binding
@using MnLab.PdfVisualDesign.Binding.Elements

@model ValueBindGridViewModel
@{
    /**/

    Script.Require("handsontable").AtHead();
    Style.Require("handsontable").AtHead();


    Script.Require("AngularJs_Full").AtHead();

    //manifest.DefineScript("Layouts.Lib").SetDependencies("jQuery", "AngularJs_Full", "Underscore");


    var design = Model.DesignData;
    var BindingDefSources = Model.BindingDefSources?.Where(x => x.Count() > 0).SelectMany(x => x);

    var ValueMaps = Model.ValueMaps;
}

@*<script src="https://cdn.jsdelivr.net/npm/handsontable@7.0.0/dist/handsontable.full.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable@7.0.0/dist/handsontable.full.min.css">*@


@{
    var AllCellValues = design?.AllCellValues;
    var mergedCells = design?.MergedCells;
    var uniqueId = Guid.NewGuid().ToString("N");

    <div id="handsontable-@(uniqueId)" class="hot handsontable htRowHeaders htColumnHeaders"></div>

    <script>
    (function () {

        var uniqueId = ['@(uniqueId)'][0];



        var AllCellValues = [@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(AllCellValues, Newtonsoft.Json.Formatting.Indented)))][0];
    var mergedCells = [@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(mergedCells, Newtonsoft.Json.Formatting.Indented)))][0];


        var gridApp = angular.module('ValueBindGrid_' + uniqueId, []);

        var scope;
        var ngController = gridApp.controller('ValueBindGridController_' + uniqueId, function PhoneListController($scope) {
            scope = $scope;

            $scope.AllCellValues_JSON = AllCellValues && JSON.stringify(AllCellValues);
            $scope.mergedCells_JSON = mergedCells && JSON.stringify(mergedCells);

            $scope.appplyTableChange = function (table) {
                var mc = table.getPlugin('mergeCells');
                var mergedCellsCollection = mc.mergedCellsCollection;
                var mergedCellsNew = mergedCellsCollection && mergedCellsCollection.mergedCells;
               // console.log("mergedCellsCollection", mc);
                //debugger
                scope.$apply(function () {
                    //scope.mergedCells = mergedCellsNew;

                    scope.mergedCells_JSON = mergedCellsNew && JSON.stringify(mergedCellsNew);

                      //// 源数据？
    // hot.getSourceData();

                    // 用户编辑修改后的数据？
                    var newData = table.getData();
        if (newData){
       // debugger
        for(var i =0;i<newData.length;i++){
        var array=newData[i];

        if(array){
        for(var j =0;j<array.length;j++){
        var d=array[j];
         if(d &&  typeof(d) == 'string'){
        try {
        array[j] = JSON.parse(array[j]);
        }
catch(e){
        debugger
        }
        }else{
           array[j] =d;
        }
        }

        }
        }


        }

        console.info('newData',newData);
                    scope.AllCellValues_JSON = newData && JSON.stringify(newData);
                });

            }
            //$scope.AllCellValues = AllCellValues;
            //$scope.mergedCells = mergedCells;
        });

        var container = document.getElementById('handsontable-@(uniqueId)');


        //var manufacturerData = [
        //        { name: 'BMW', country: 'Germany', owner: 'Bayerische Motoren Werke AG' },
        //        { name: 'Chrysler', country: 'USA', owner: 'Chrysler Group LLC' },
        //        { name: 'Nissan', country: 'Japan', owner: 'Nissan Motor Company Ltd' },
        //        { name: 'Suzuki', country: 'Japan', owner: 'Suzuki Motor Corporation' },
        //        { name: 'Toyota', country: 'Japan', owner: 'Toyota Motor Corporation' },
        //        { name: 'Volvo', country: 'Sweden', owner: 'Zhejiang Geely Holding Group' }
        //];

        /*
        [
        {"ContentPartName":"Page","MemberExpression":"Choice1","DefaultValue":null,"Description":null,"Remark":null,"Key":"Page.Choice1"}
        ],
        */

          //var data = Handsontable.helper.createSpreadsheetData(10, 10);

        var manufacturerData = [@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(BindingDefSources)))][0];

        var columnDef={
       // renderer: Handsontable.renderers.AutocompleteRenderer,
                renderer:function (instance, td, row, col, prop, value, cellProperties) {

        /*
        https://github.com/valor-software/ng2-handsontable/issues/373
        not work well


        Native cell renderers
        https://handsontable.com/docs/7.0.0/tutorial-cell-function.html


        */

        try     {
        /*
        if the data is from server (server JSON SerializeObject , value type is Object)
        if the data is from local user inputed, calue type is string
        */
        var obj = value && ( typeof value=='string'?  JSON.parse(value) : value);
        // 5 is value
        if   (obj && obj['Key']){
        arguments[5] =obj && obj['Key'];
        }
        }catch(e){
        }

         Handsontable.renderers.AutocompleteRenderer.apply(instance, arguments);

       // $td= $(td);//.empty();//.addClass('htAutocomplete');
    //if(value != null){
    //var escaped = Handsontable.helper.stringify(value);
        // value must be a string type
       // var obj = JSON.parse(value);
       // debugger
       // $td.html(obj['Key']); //empty is needed because you are rendering to an existing cell
   // }
      //  $td.append('<div class="htAutocompleteArrow">▼</div>'); //empty is needed because you are rendering to an existing cell
      //  $td.append('▼'); //empty is needed because you are rendering to an existing cell

    return td;
},
                    type: 'handsontable',
                    handsontable: {
        search: true,

        // https://handsontable.com/docs/7.0.0/demo-hiding-columns.html
        //columns: [0, 1],
        //columns: ['ContentPartName','MemberExpression'],
          //indicators: true,
        columns:[
        {data: 'ContentPartName'},
        {data: 'MemberExpression'}
        ],
                        colHeaders: ['Part Type', 'Member Name'],
                        autoColumnSize: true,
                        data: manufacturerData,
        /*
        // https://github.com/handsontable/handsontable/issues/865
        renderer:function (instance, td, row, col, prop, value, cellProperties) {
    if(value != null){
    var escaped = Handsontable.helper.stringify(value);
        $(td).empty().append(value['ContentPartName']); //empty is needed because you are rendering to an existing cell
    }
    return td;
},
        */
                        getValue: function () {
                            var selection = this.getSelectedLast();
                            // Get the row's data object, object is from BindingDefSources
                            var obj = this.getSourceDataAtRow(selection[0]);
                            /*
 string ContentPartName { get; set; }
string MemberExpression { get; set; }
*/
                            return JSON.stringify(obj);
                            //return obj.ContentPartName + '.' + obj.MemberExpression;

        // the value only accept plain type
                           //return obj.Key;
                            //return obj;
                        }
                    }
                };

        var tableCfg = {
            //data: AllCellValues || Handsontable.helper.createSpreadsheetData(5, 2),
            data: AllCellValues,
            //  colWidths: [47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47],
            rowHeaders: true,
            colHeaders: true,
            contextMenu: true,
        allowInsertColumn:true,
        allowInsertRow:true,
            colHeaders: ['Data Member (First Column)', 'Data Member (Second Column)'],
            columns: [columnDef,columnDef],
            mergeCells: mergedCells || [],
            //mergeCells: [
            //    { row: 1, col: 1, rowspan: 3, colspan: 3 },
            //    { row: 3, col: 4, rowspan: 2, colspan: 2 },
            //    { row: 5, col: 6, rowspan: 3, colspan: 3 }
            //],
            //afterMergeCells: function (range, parent, auto) {
            //    //    debugger
            //    console.log("afterMergeCells", range, parent, auto);

            //    scope.appplyTableChange(girdTable);
            //}
        };

        //v https://handsontable.com/docs/7.0.0/tutorial-using-callbacks.html
        //var hooks = ['afterChange', 'afterRemoveRow', 'afterRemoveCol', 'afterMergeCells',' afterUnmergeCells'];

        //['']
        var hooks = Handsontable.hooks.getRegistered().filter(x => x.indexOf('Mouse') != -1 || x.indexOf('Scroll') != -1);

        var girdTable;
        hooks.forEach(function (hook) {
            console.log("hook", arguments);
            tableCfg[hook] = function () {
                if (scope) {
                    scope.appplyTableChange(girdTable);
                }
            }
        });

        girdTable = new Handsontable(container, tableCfg);
        girdTable.hot = girdTable;

    })();
    </script>


    <div ng-app="ValueBindGrid_@(uniqueId)">

        <div ng-controller="ValueBindGridController_@(uniqueId)">
            <input name="@Html.NameFor(x => x.DesignData.AllCellValues)" ng-model="AllCellValues_JSON" />
            <input name="@Html.NameFor(x => x.DesignData.MergedCells)" ng-model="mergedCells_JSON" />
        </div>
    </div>



}



@using (Script.Foot())
{
    <script type="text/javascript">
        $(function () {



        });
    </script>
}